@model FashionShop.Models.DonHang

@{
    ViewData["Title"] = "Create";
}


<div class="card">

    <div class="card-header bg-danger text-uppercase text-white text-center mb-2 pt-0" style="height:25px;">
        <h6>Purchase Order - Create </h6>
    </div>

    <form id="CodeSbyAnizForm" asp-action="Create">

        <div class="row col-12">

            <div class="row col-12 ml-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-2 ">
                <label asp-for="MaDonHang" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="MaDonHang" class="form-control" readonly/>
                <span asp-validation-for="MaDonHang" class="text-danger"></span>
            </div>

            <div class="form-group col-2">
            </div>

            @*<div class="form-group col-2">
                <label asp-for="NgayTao" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>*@


            <div class="form-group col-2">
                <label asp-for="MaNCC" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <select asp-for="MaNCC" class="form-control" asp-items="ViewBag.SupplierList"></select>
                <span asp-validation-for="MaNCC" class="text-danger"></span>
            </div>


            @*<div class="form-group col-2 ">
                <label asp-for="MaTienTeCoSo" class="control-label"></label>
            </div>
            <div class="form-group col-3 ">
                <select asp-for="MaTienTeCoSo" class="form-control" asp-items="ViewBag.BaseCurrencyList"></select>
                <span asp-validation-for="MaTienTeCoSo" class="text-danger"></span>
            </div>*@


            <div class="form-group col-2">
                <label asp-for="MaTienTeDonHang" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                    <select asp-for="MaTienTeDonHang" class="form-control" asp-items="ViewBag.PoCurrencyList" onchange="getExRate(this);"></select>
                <span asp-validation-for="MaTienTeDonHang" class="text-danger"></span>
            </div>

            <div class="form-group col-2">
            </div>


            <div class="form-group col-2 ">
                <label asp-for="TyGiaHoiDoai" class="control-label"></label>
            </div>
            <div class="form-group col-3 ">
                <input id="txtTyGiaHoiDoai" asp-for="TyGiaHoiDoai" class="form-control" />
                <span asp-validation-for="TyGiaHoiDoai" class="text-danger"></span>
            </div>



            <div class="form-group col-2">
                <label asp-for="MaBaoGia" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="MaBaoGia" class="form-control" />
                <span asp-validation-for="MaBaoGia" class="text-danger"></span>
            </div>

            <div class="form-group col-2">
            </div>


            <div class="form-group col-2">
                <label asp-for="NgayBaoGia" class="control-label"></label>
            </div>
            <div class="form-group col-3">
                <input asp-for="NgayBaoGia" class="form-control" />
                <span asp-validation-for="NgayBaoGia" class="text-danger"></span>
            </div>


            <div class="col-12">

                    <table id="CodesTable" class="table table-borderless table-sm mb-0 pb-0 border CodesTable">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>MoTa</th>
                                <th>SoLuong</th>
                                <th>FOB</th>
                                <th>DonGiaBan</th>
                                <th>Unit</th>
                                <th>Total (AED)</th>
                                <th style="width:60px;">
                                    <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                        Add
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody id="CsDiv">
                                @for (int i = 0; i < Model.ChiTietDonHang.Count; i++)
                        {

                                <tr>
                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].MaSP" class="form-control" />
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].MoTa" class="form-control form-control-plaintext" readonly />
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].SoLuong" class="form-control QtyTotal" />
                                        <span asp-validation-for="@Model.ChiTietDonHang[i].SoLuong" class="text-danger"></span>
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].Fob" class="form-control FobTotal" />
                                        <span asp-validation-for="@Model.ChiTietDonHang[i].Fob" class="text-danger"></span>
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].PrcInBaseCur" class="form-control form-control-plaintext DonGiaBanTotal" readonly />
                                        <span asp-validation-for="@Model.ChiTietDonHang[i].PrcInBaseCur" class="text-danger"></span>
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].UnitName" class="form-control form-control-plaintext" readonly />
                                        <input type="hidden" asp-for="@Model.ChiTietDonHang[i].IsDeleted" />
                                    </td>

                                    <td>
                                        <input asp-for="@Model.ChiTietDonHang[i].Total" class="form-control form-control-plaintext AmountTotal" readonly />
                                    </td>
                                <td style="width:60px;">
                                    <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

                    <table class="table table-sm mb-0 pb-0 border">
                        <thead>
                            <tr>
                                <th style="width:13%;">
                                    Total
                                </th>

                                <th style="width:13%;">
                                </th>

                                <th style="width:13%;">
                                    <input type="text" id="txtQtyTotal" class="form-control form-control-plaintext" value="" />
                                </th>

                                <th style="width:13%;">
                                </th>

                                <th style="width:13%;">
                                </th>

                                <th style="width:13%;">
                                </th>

                                <th style="width:13%;">
                                    <input type="text" id="txtAmountTotal" class="form-control form-control-plaintext" value="" />
                                </th>

                                <th style="width:9%;">
                                </th>
                            </tr>

                        </thead>
                    </table>

            </div>

                <div class="form-group col-12">
                </div>

                <div class="form-group col-12">
                </div>
        </div>

            <div class="form-group btn-group col-1">


                <select id="dropdownExRate" class="form-control" size="1" style="visibility: hidden;" asp-items="ViewBag.TyGiaHoiDoai">
                </select>

                <div class="form-group invisible">
                    <select id="mySelect" class="form-control" size="5"
                            style="visibility: hidden;" asp-items="ViewBag.ProductList">
                    </select>
                    <input id="txtValue" class="form-control col-2 invisible" />
                </div>

                <div ID="HiddenDiv" style="visibility: hidden;">
                    <input asp-for="NgayTao" class="form-control" />
                    <select asp-for="MaTienTeCoSo" class="form-control"
                            asp-items="ViewBag.BaseCurrencyList"></select>


                    <select id="dropdownUnitNames" class="form-control"
                            size="1" style="visibility: hidden;"
                            asp-items="ViewBag.UnitNames">
                    </select>
                </div>

            </div>


            <div class="form-group btn-group col-10 my-2">
                <div class="col-1"></div>
                <div class="col-5">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" />
                </div>
                <div class="col-5">
                    <a class="btn btn-secondary btn-block" asp-action="index"
                       asp-route-pg="@TempData.Peek("CurrentPage")">Back</a>
                </div>
                <div class="col-1"></div>
            </div>

        </div>

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    </script>
}